{% extends 'base.html' %}

{% block content %}
<html>
<body>
<!-- Основное содержимое -->
<div class="main-content">
    <div class="container">
        <h2>Список сообщений</h2>
        <a href="{% url 'mailing:message-create' %}">Создать новое сообщение</a>
            <ul class="message-list">
                {% for message in message %}
                <li class="message-item">
                    {{ message.subject }}
                    <a href="{% url 'mailing:message-update' message.pk %}" class="edit-link">Редактировать</a>
                    <a href="{% url 'mailing:message-delete' message.pk %}" class="delete-link">Удалить</a>
                </li>
                {% endfor %}
            </ul>
    </div>
    {% endblock %}
